@page
@model CarRentalApp.Pages.AppUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/main.css" />
<script src="~/js/main.js"></script>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" id="dynamicTable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Html.DisplayNameFor(model => model.AppUser[0].UserName)
            </th>
            <th onclick="sortTable(1)">
                @Html.DisplayNameFor(model => model.AppUser[0].NormalizedUserName)
            </th>
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.AppUser[0].Email)
            </th>
            <th onclick="sortTable(3)">
                @Html.DisplayNameFor(model => model.AppUser[0].NormalizedEmail)
            </th>
            <th onclick="sortTable(4)">
                @Html.DisplayNameFor(model => model.AppUser[0].EmailConfirmed)
            </th>
            <th onclick="sortTable(5)">
                @Html.DisplayNameFor(model => model.AppUser[0].PasswordHash)
            </th>
            <th onclick="sortTable(6)">
                @Html.DisplayNameFor(model => model.AppUser[0].SecurityStamp)
            </th>
            <th onclick="sortTable(7)">
                @Html.DisplayNameFor(model => model.AppUser[0].ConcurrencyStamp)
            </th>
            <th onclick="sortTable(8)">
                @Html.DisplayNameFor(model => model.AppUser[0].PhoneNumber)
            </th>
            <th onclick="sortTable(9)">
                @Html.DisplayNameFor(model => model.AppUser[0].PhoneNumberConfirmed)
            </th>
            <th onclick="sortTable(10)">
                @Html.DisplayNameFor(model => model.AppUser[0].TwoFactorEnabled)
            </th>
            <th onclick="sortTable(11)">
                @Html.DisplayNameFor(model => model.AppUser[0].LockoutEnd)
            </th>
            <th onclick="sortTable(12)">
                @Html.DisplayNameFor(model => model.AppUser[0].LockoutEnabled)
            </th>
            <th onclick="sortTable(13)">
                @Html.DisplayNameFor(model => model.AppUser[0].AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>