@page
@model CarRentalApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/main.css" />
<script src="~/js/main.js"></script>

<h1>Index</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table" id="dynamicTable">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator"))
            {
                <th onclick="sortTable(0)">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].Car.VIN)
                </th>
                <th onclick="sortTable(1)">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].Car.ModelId)
                </th>
            }
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.CarModelCar[0].CarModel.Manufacturer)
            </th>
            <th onclick="sortTable(3)">
                @Html.DisplayNameFor(model => model.CarModelCar[0].CarModel.Model)
            </th>
            <th onclick="sortTable(4)">
                @Html.DisplayNameFor(model => model.CarModelCar[0].Car.PricePerDay)
            </th>
            <th onclick="sortTable(5)">
                @Html.DisplayNameFor(model => model.CarModelCar[0].Car.MileageKm)
            </th>
            <th onclick="sortTable(6)">
                @Html.DisplayNameFor(model => model.CarModelCar[0].Car.ProductionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarModelCar)
        {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.VIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.ModelId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.PricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.MileageKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.ProductionDate)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Rentals/Create" asp-route-id="@item.Car.VIN">Rent</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Car.VIN">Details</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Car.VIN">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Car.VIN">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>