@page
@model CarRentalApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/main.css" />
<script src="~/js/main.js"></script>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<h1>Index</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table" id="dynamicTable">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.VINSort">
                        @Html.DisplayNameFor(model => model.CarModelCar[0].Car.VIN)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.ModelIdSort">
                        @Html.DisplayNameFor(model => model.CarModelCar[0].Car.ModelId)
                    </a>
                </th>
            }
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ManufacturerSort">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].CarModel.Manufacturer)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ModelSort">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].CarModel.Model)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PricePerDaySort">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].Car.PricePerDay)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MileageKMSort">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].Car.MileageKm)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.CarModelCar[0].Car.ProductionDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarModelCar)
        {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.VIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.ModelId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.PricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.MileageKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.ProductionDate)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Rentals/Create" asp-route-id="@item.Car.VIN">Rent</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Car.VIN">Details</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Car.VIN">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Car.VIN">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
