@page
@model CarRentalApp.Pages.Rentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Rental[0].CarID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rental[0].UserID)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental) {
        <tr>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CarID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if(User.IsInRole("Administrator"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
